:root {
    --bgColor: #220efa ;
    --whiteColor: #fff ;
    --color: #f6f6f7 ;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--color);
    max-width: 1200px;
    margin: auto;
}

header {
    background-color: var(--bgColor) ;
    padding: 20px;
    font-size: 2rem;
    color: var(--whiteColor);
    margin: 10px 0 50px;
    border-radius: 15px;
}

input {
    width: 300px;
    padding: 5px;
    font-size: 1.2rem;
    color: var(--bgColor);
    background-color: var(--color);
    border: var(--bgColor) 2px solid;
    border-radius: 8px;
    margin: 40px 0;
}

button {
    background-color: var(--bgColor);
    color: var(--whiteColor);
    height: 35px;
    width: 100px;
    padding: 5px 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.1rem;
    margin-right: 10px;
}

#products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product-item {
    background-color: var(--whiteColor);
    width: 320px;
    margin: 30px 0;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 20px;
    overflow: hidden;
    padding: 15px;
}

.product-item img {
    width: 290px;
    border-radius: 15px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 6px #c0c0c0;
    cursor: pointer;
}

.product-item p {
    font-size: 18px;
}

.product-item span {
    display: inline-block;
    margin-bottom: 0px;
    margin-top: 15px;
    background-color: var(--bgColor);
    color: var(--whiteColor);
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 18px;
}

.selected {
    background-color: var(--color);
    border: 2px solid var(--bgColor);
    color: var(--bgColor);
}

@media (max-width: 1000px) {
    #search {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }

    #products {
        justify-content: center;
    }
}



/* Make and develop By Sajjad Saberi */
